body {
    margin: 0px;
}

.container {
    margin: 0px;
}

.nav-bar {
    list-style-type: none;
    display: flex;
    justify-content: center;
    background-color: #40596b;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px;
}

li {
    margin-right: 1rem;
}

li a {
    text-decoration: none;
    color: orange;
}

.level1 {
    text-align: center;
    background-color: #55c0ec;
    padding-bottom: 80px;
    padding-top: 80px;
}

.level1-width {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.ticky-h1 {
    margin-top: 0px;
}

.white {
    color: white;
}

.level1-image {
    border-radius: 50%;
    width: 200px;
    min-width: 100px;
    margin-top: 20px;
}

.top-button {
    padding: 0.5rem;
    width: 100%;
}

.level2 {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
}

.center {
    text-align: center;
    margin-bottom: 0px;
}

hr {
    width: 150px;
    background-color: #55c0ec;
    height: 3px;
    border-radius: 10px;
    border: none;
    margin-top: 0px;
    margin-bottom: 25px;
}

.what-section {
    display: flex;
    flex-direction: column;
}

.bottom-what-section p {
    margin-bottom: 0px;
}


.level3 {
    background-color: #90ddaa;
    padding-bottom: 15px;
    padding-top: 15px;
}

.box {
    border-radius: 5px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
}

.box-image {
    display: block;
    background-color: #40596b;
    padding: 80px;
    margin: 0px;
}

.description {
    background-color: white;
    padding: 10px;
    margin-left: auto;
}

.description p {
    margin-top: 0px;
    text-align: center;
}

.level4 {
    text-align: center;
    padding-bottom: 10px;
}

.level4-section {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bottom-button {
    padding: 0.8rem;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #40596b;
    border: none;
    border-radius: 5px;
    color: white;
}

footer {
    text-align: center;
    background-color: #40596b;
    color: white;
    font-size: 12px;
}