body {
    margin: 0px;
}

.container {
    margin: 0px;
}

.nav-bar {
    list-style-type: none;
    display: flex;
    justify-content: center;
    background-color: #40596b;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px;
    min-width: 350px;
    font-size: 18px;
}

li {
    margin-right: 1rem;
}

li a {
    text-decoration: none;
    color: orange;
}

.level1 {
    text-align: center;
    background-color: #55c0ec;
    padding-bottom: 20px;
    padding-top: 40px;
    min-width: 390px;
    font-size: 20px;
}

.level1-width {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.ticky-h1 {
    margin-top: 0px;
    font-size: 48px;
}

.white {
    color: white;
}

.level1-image {
    border-radius: 50%;
    width: 220px;
    min-width: 100px;
    margin-top: 20px;
}

.top-button {
    padding: 0.5rem;
    width: 100%;
    font-size: 15px;
}

.level2 {
    width: 390px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
    height: 470px;
    font-size: 20px;
}

.center {
    text-align: center;
    margin-bottom: 0px;
}

hr {
    width: 150px;
    background-color: #55c0ec;
    height: 3px;
    border-radius: 10px;
    border: none;
    margin-top: 0px;
    margin-bottom: 25px;
}

.what-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 250px;
}

.bottom-what-section p {
    margin-bottom: 0px;
}


.level3 {
    background-color: #90ddaa;
    padding-bottom: 15px;
    padding-top: 15px;
    min-width: 390px;
}

.box {
    border-radius: 5px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 45px;
    max-width: 350px;
}

.box-image {
    display: block;
    background-color: #40596b;
    padding: 80px;
    margin: 0px;
    min-width: 100px;
}

.description {
    background-color: white;
    padding: 10px;
    margin-left: auto;
    min-width: 240px;
}

.description p {
    margin-top: 0px;
    text-align: center;
}

.level4 {
    text-align: center;
    min-width: 390px;
    max-width: 450px;
    margin: auto;
    height: 60vh;
}

.level4-section {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    height: 300px;
    flex-direction: column;
    justify-content: space-between;
}

.bottom-button {
    padding: 0.8rem;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: #40596b;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    display: flex;
}

footer {
    text-align: center;
    background-color: #40596b;
    color: white;
    font-size: 12px;
    padding: 20px;
    padding-bottom: 15px;
    min-width: 350px;
}

footer p {
    margin: 0px;
}

.icon {
    width: 15%;
}







@media screen and (min-width: 727px) {
    .nav-bar {
        font-size: 20px;
    }

    .level1 {
        display: flex;
        justify-content: center;
        height: 400px;
        font-size: 25px;
    }

    .level1-width {
        margin: 0px;
        margin-right: 15px;
        /* width: 300px; */
        margin-top: auto;
        margin-bottom: auto;
    }

    .level1-image-container {
        margin-left: 15px;
        /* width: 300px; */
        margin-top: auto;
        margin-bottom: auto;
    }

    .level1-image {
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        width: 280px;
    }

    .level2 {
        width: 80%;
        height: 350px;
    }

    .what-section {
        display: flex;
        flex-direction: row;
        height: 170px;
    }

    .what-right-section {
        margin-left: 10px;
    }

    .what-left-section {
        margin-right: 10px;
    }

    .level3 {
        
    }

    .level3-vertical {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        grid-template-areas: 
        'boxLeft boxRight'
        'bottomBox bottomBox';
    }

    .box-left {
        grid-area: boxLeft;
    }

    .box-right {
        grid-area: boxRight;
    }

    .bottom-box {
        grid-area: bottomBox;
    }

    .box {
        width: 600px;
    }
}


@media screen and (min-width: 1100px) {
    .level1 {
        height: 700px;
        font-size: 32px;
    }

    .level1-width {
        width: 400px;
        margin-top: auto;
        margin-bottom: auto;
    }

    .level1-image-container {
        width: 400px;
        /* margin: auto; */
        margin-top: auto;
        margin-bottom: auto;
    }

    .level1-image {
        width: 400px;
    }

    .top-button {
        width: 60%;
    }

    .level2 {
        width: 950px;
        height: 400px;
    }

    .what-section {
        justify-content: space-around;
        height: 120px;
    }

    .bottom-what-section {

    }

    .level3 {
        height: 700px;
    }


    .level3-vertical {
        display: flex;
        /* width: 100%; */
        margin-left: auto;
        margin-right: auto;
        justify-content: space-around;
        max-width: 1200px;
    }

    .box {
        width: 40%;
        height: 300px;
    }

    .level4 {
        flex-direction: column;
        height: 60%;
    }
}